.sales_force{
  margin-top: 16px;


}

.page_title{
    padding: 10px 10px 10px 0;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}

.sale_force_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sale_force_header>button{
  border: none;
  width:46px;
  height: 51px;
  background-color: white;
}

.filtering_section{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}